.container {
  display: flex;
  justify-content: space-between;
}

.vertical {
  display: flex;
  flex-direction: column-reverse;
  width: 32px;
  height: 130px;
  justify-content: space-around;
}

.icon {
  padding: 10px;
  color: white;
}

.link {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px; 
  background-color: #989494;
  border-radius: 50%;
  cursor: pointer;
}

.link:hover {
  background-color: #6499CF;
}

.link:focus {
  outline: 2px solid #0060DF;
  background-color: #6499CF;
}