body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 18px;
}

#background-white {
  background-color: white;
}

h3 {
  font-size: 25px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#pageContent {
  padding: 0 max(5%, 70px) 50px max(5%, 70px);
  background-color: white;
}

#top {
  position: absolute;
  top: 0;
}

button {
  background-color: #6499CF;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  margin: 8px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 18px;
}

button:hover, button:focus {
  background-color: #989494;
}

/* Remove focus when not using keyboard */
@supports selector(:focus-visible) {
  *:focus {
    /* Remove the focus indicator on mouse-focus for browsers
       that do support :focus-visible */
    outline: none;
  }
}

*:focus-visible {
  /* Draw a focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: 2px solid #0060DF;
}


/* Line on either side of header */
/* https://www.trysmudford.com/blog/css-header-legend/ */
.sectionTitle {
  font-size: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectionTitle:before,
.sectionTitle:after {
  content: '';
  border-top: 2px solid #989494;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.sectionTitle:after {
  margin: 0 0 0 20px;
}


/* Links */
/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */

a {
  text-decoration: none;
  background-image: linear-gradient(#6499CF, #6499CF);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1.5px;
  transition: background-size .3s ease;
}

a:hover, a:focus {
  background-size: 100% 1.5px;
}

a, a:visited {
  font-weight: bold;
  color: #6499CF;
}

@media only screen and (max-width: 720px) {
  #pageContent {
    padding: 0 max(5%, 20px);
  }

  body {
    font-size: 16px;
    background-color: #292929;
  }

  button {
    font-size: 14px;
  }
}
